# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
switch_case_indent = true

[*.sh]
shell_variant = posix

[*.py]
indent_size = 4

# rely on clang-format for c++ formatting
[{*.c++,*.cxx,*.cpp,*.h++,*.hxx,*.hpp,*.cc,*.h}]
indent_style = unset
indent_size = unset
end_of_line = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
switch_case_indent = unset
