#!/bin/sh

# shellcheck disable=SC2046  # cannot surround with quotes: breaks export command
! test -f ./.env || export $(grep -oE '^[^ #]{1,}=[^#]{1,}' .env | xargs)

if command -v poetry >/dev/null; then

  test -f poetry.lock || poetry install
  test -d .cache || mkdir .cache

  if [ -f '.cache/activate-script' ]; then
    activate_script="$(cat .cache/activate-script)"
  else
    activate_script="$(poetry env info -p)/bin/activate"
    echo "$activate_script" >.cache/activate-script
  fi

  # shellcheck disable=SC1090
  test -f "$activate_script" && {
    printf '%s: \e[32m%s\e[0m\n' 'Activating virtual environment' "$activate_script"
    . "$activate_script"
  }

  unset PS1

  # shellcheck disable=SC2154
  if [ -z "${PRE_COMMIT_DISABLED}" ] &&
    command -v pre-commit >/dev/null &&
    [ ! -f "$(git rev-parse --git-path hooks)/pre-commit" ]; then

    pre-commit install --install-hooks
  fi
else
  printf '\e[31m%s\e[0m\n' "poetry installation not found"
  printf '\n%s\n\n' "please install poetry from https://python-poetry.org/docs/#installation"
fi
